//
//  Debug.xcconfig
//  Empty Window
//
//  Created by Jerry Li on 2025/4/1.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Base.xcconfig"
API_BASE_URL = https:/$()/api.example.com
INFOPLIST_KEY_CFBundleDisplayName = Empty Window
PRODUCT_NAME = Empty Window
